<!DOCTYPE html>
<html>
<head>
	<title>Contact Page</title>
	<link rel="stylesheet" type="text/css" href="/public/style.css">
</head>
<body>
	<%- include ("partials/nav.ejs") %>
	<h1>This is ejs contact page</h1>
	<p><%= qs.dept %></p>
</body>
</html>