<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="/public/style.css">
</head>
<body>
	<%- include ("partials/nav.ejs") %>
	<h1>This is homepage</h1>
</body>
</html>